/* app css stylesheet */
body {
  width: auto;
  height: auto;
  opacity: 1;
  background-color: floralwhite;
  background-size: cover;
}

body:after {
  opacity: 0.4;
}

.wrapper {
  width: 90%;
  min-height: 100%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 0;
  padding: 0;
}

.custom-text {
  color: #005fb3;
}

div > img {
  width: 70%;
  position: relative;
  float: right;
  padding-top: 7%;
}

h4 > a {
  color: #000011;
}

footer {
  min-height: calc(20vh - 50px);
}

.hobbies {
  padding-bottom: 3%;
}

@media (max-width: 1000px){

  #wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .career-objective {
    font-size: smaller;
  }

  .career-objective > h4 {
    text-transform: uppercase;
    font-size: medium;
    padding-top: 10%;
    font-style: italic;
  }

  .custom-text > h3 {
    font-size: medium;
    color: #005fb3;
    padding-left: 3%;
    text-transform: uppercase;
    padding-top: 0;
  }

  .custom-text > h4 {
    font-size: smaller;
    color: #005fb3;
    padding-left: 5%;
    padding-right: 5%;
  }

  div > img {
    width: 23%;
    height: 23%;
  }

  footer{
    min-height: calc(20vh - 50px);
  }

  .hobbies {
    padding-bottom: 1%;
  }

  .hobbies > h5 {
    font-size: smaller;
  }

}
