/* app css stylesheet */
body{
  width: auto;
  height: auto;
  opacity: 1;
  background-color: floralwhite;
  background-size: cover;
}

body:after{
  opacity: 0.4;
}

.wrapper {
  width: 90%;
  min-height: 100%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 0;
  padding: 0;
}

.custom-text {
  color: #005fb3;
}

div > img {
  position: relative;
  float: right;
  padding-top: 7%;
}

h4>a{
  color: #000011;
}

footer{
  min-height: calc(50vh - 120px);
}
